.counter{
    background-color: #f5f5f6;
}
.counter-inner{
    display: flex;
    justify-content: space-between;
}
.counter-item{
    width: calc(25% - 30px);
    text-align: center;
    color: #42464f;

}
.counter-item h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}
.counter-line{
    width: 50%;
    height: 3px;
    margin: 18px auto;
    background-color: #42b773;
}
.counter-item p{
    font-size: 18px;
}
