.services{
    background-color: #f5f5f6;
    position: relative;
    
}
.services-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.serv-item{
    width: calc(25% - 30px);
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
}
.serv-item i{
    color: #42b773;
    font-size: 50px;
  
}
.serv-item a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    display: block;
    color: #42464f;
    margin: 15px 0;
}
.serv-item p{
    font-size: 14px;
    color: #658997;
    line-height: 2;
}
.serv-item:hover i{
    color: #a9dc56;
    transition: .4s;
}
.serv-item:hover a{
    text-decoration: underline;
    color: #42b773;
    transition: .4s;
}
.services::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 157px;
    height: 68px;
    background-image: url('../../images/light-green-circle.png');
    margin: 0 auto;
    
}
.services::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 157px;
    height: 68px;
    background-image: url('../../images/white-circle.png');
    margin: 0 auto;
    
}